PORT=8080

MYSQL_HOST=host.docker.internal
MYSQL_DATABASE=<DATABASE_NAME>
MYSQL_USER=<MYSQL_USERNAME>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>

DATABASE_URL=mysql://<MYSQL_USERNAME>:<MYSQL_PASSWORD>@localhost:3306/<DATABASE_NAME>

ACCESS_TOKEN_SECRET=<ACCESS_TOKEN_SECRET>
REFRESH_TOKEN_SECRET=<REFRESH_TOKEN_SECRET>